<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <!-- -->
    <section class="section-xlg">
        <div class="container">
            <h1>PAGE NOT FOUND</h1>
            <h2>Sorry, <strong>The page you requested can not be found!</strong></h2>
            <a class="fs-20 font-lato" th:href="@{/index.do}">
                <i class="glyphicon glyphicon-menu-left mr-10 fs-16"></i> back to Smarty homepage now!
            </a>
        </div>
    </section>
    <!-- / -->
</body>
</html>